@import url(http://fonts.googleapis.com/css?family=Fascinate|Alfa+Slab+One);


body{
	margin-top:0;
	margin-left:0;
	width:100%;
}

header{
height:100px;
}

footer{
	top:50%;
	background-color:white;
	font-size:10px;
	width:100%;
	font-family: Verdana, arial, helvetica, sans-serif;
	border-top:1px solid #999;
}

#calc{
	width:100%;
	height:250px;
	background: #c9de96; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M5ZGU5NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iIzhhYjY2YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzOTgyMzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #c9de96 0%, #8ab66b 44%, #398235 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9de96), color-stop(44%,#8ab66b), color-stop(100%,#398235)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* IE10+ */
	background: linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-8 */
	border-top:1px solid green;
	border-bottom:3px solid black;
	
}

.run{
	margin-top:-2px;
}

#title{
	font-size:80px;
	text-shadow:5px 5px 5px #999;
}

#container{
	position:relative;
/*	top:100px;*/
}

#expression{
	font-size:30px;
	font-family: 'Alfa Slab One', cursive;
}

#result{
	font-size:25px;
	height:50px;
	width:100%;
}

.font{
	font-family: 'Alfa Slab One', cursive;
}

.center{
	text-align:center;
}

#buttons{
	display:inline-block;
}
#history {
	font-family: 'Alfa Slab One', arial, sans-serif;
	height: 150px;
	width: 200px;
	text-align: right;
	display: block;
	margin-left: auto;
	margin-right: auto;
	overflow:scroll;
}

.sign{
	width:125px;
	float:left;
}
