#{extends 'main.html' /}
#{set title:'Qalc' /}

<script id="history_line" type="text/html">
	<div class="history_line"><span class="sign">{{sign}}</span><span class="value">{{value}}</span></div>
</script>

<header class="center">
	<div id="title" class="font">Qalc</div>
</header>
<div id="calc" class="gradient center">

	<div id="maincalc">
		<div id="history">
			<div class="history_line keep">0</div>
		</div>
		<div id="container">
			<input type="text" placeholder="Put some value here" id="expression"></input>
			<div id="buttons">
				<a href="#" class="center run font">+</a>
				<a href="#" class="center run font">-</a>
				<a href="#" class="center run font">*</a>
				<a href="#" class="center run font">/</a>
				<a href="#" class="center clear font">C</a>
			</div>
		</div>
	</div>
</div>
<div id="result" class="center font">
<span id="content"></span>
</div>

<footer class="center">Made by Marco Montanari</footer>

<script>

// button controller
$('.run').click(function(){
	$.calc_op = $(this).text();
	$.ajax({
		type: 'POST',
		url: '@{doCalc()}',
		data: {
			'value':$('#expression').val(), 
			op:$.calc_op
		},
		success: function(data){
			$('#result #content').text(data);
			var line = ich.history_line({sign:$.calc_op, value:$('#expression').val()});
			$('#history').children().children().prepend(line);
			
			$('#expression').val("").focus();
		},
		error: function(){
			$('#expression').val("").focus();
		}
	});
}); 

//clear button controller
$('.clear').click(function(){
	$.post('@{clear()}', function(data){
		$.getJSON('@{status()}', function(data){
			$('#result #content').text(data);
			$('#history').children().children().children().not('.keep').remove();
			$('#expression').val("").focus();
		});
	});
});

$(function(){
	//prepare by getting the session state
	$.getJSON('@{status()}', function(data){
		$('#result #content').text(data);
	});
	//graphical stuff
	$('#buttons').buttonset();
	$('#history').jScrollPane({
		autoReinitialize:true
	});
});

</script>